<div class="col-4 d-flex justify-content-center">
    <div class="card employee-card">
        <div class="card-header bg-secondary">
            <h2 class="card-title" id="name">{{ name }}</h2>
            <h3 class="card-title" id="role"><i class="fas fa-user-graduate mr-2"></i>Intern</h3>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">ID: <span id="id">{{ id }}</span></li>
                <li class="list-group-item">Email: <a href="mailto:{{ email }}" id="email">{{ email }}</a></li>
                <li class="list-group-item">School:<span id="school">{{ school }}</span></li>
            </ul>
        </div>
    </div>
</div>